 @plugin "daisyui";
.main-sec img{
  height:25rem;
  width:100%;
}
.problem-sec ul li img{
  width:12rem;
  height:10rem;
 border:1px solid darkturquoise;
border-radius:10rem;
}
.problem-sec ul{
  display:flex;
  gap:0.5rem;
  /* border: 1px solid black; */
}
.navbar{
background-color: darkturquoise;
}
.emergency-sec{
  display:flex;
}
.emergency-sec img{
  width:25rem;position: relative;
  left:2rem;
  border-radius: 2rem;
  height:20rem;border:2px solid darkgray;
}
.emergency-sec p{
  position: relative;
  top:0.5rem;
  background-color: darkturquoise;
  left:10rem;color:white;
  padding:1rem;
  font-size:20px;
  /* gap:5rem; */
  height:20rem;
  width:20rem;border:2px soid black;
  border-radius:2rem;
}