 @plugin "daisyui";
.main-sec img{
  height:25rem;
  width:100%;
}
.problem-sec ul li img{
  width:15rem;
  height:12rem;
 border:1px solid darkturquoise;
border-radius:5px;
}
.problem-sec ul{
  display:flex;
}
.navbar{
background-color: darkturquoise;
}